.about-container {
    width: 100%;

    .about-wrap {
        width: 70%;
        margin: 0 auto;

        .aboutBox {
            width: 100%;
            height: 600px;
            background: skyblue;
            margin: 100px auto;
            border: 1px solid black;
            border-radius: 20px;
            position: relative;
            

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .aboutBox-contact {
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: .5);
                

                position: absolute;
                top: 0%;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                text-align: center;

                h1 {
                    color: white;

                    span {
                        color: #CEE8FA;
                    }
                }
            }
        }
    }
}