@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.main {
    padding: 0;
    margin: 0;
    font-size: 1em;

    .mainBannerArea {
        position: relative;

        .mainBanner {
            width: 100%;
            height: 100%;
        }

        .mainBannerText {
            font-family: 'Jua', sans-serif;
            font-size: 3em;
            font-weight: bold;
            color: white;
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(0, -50%);
            text-shadow: 5px 5px 5px black;

            span {
                font-size: 0.8em;
            }
        }

        .mainBannerScroll {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            animation: scrollUpDown infinite 2s;

            p {
                color: white;
            }
        }
    }

    .mainProcess {
        width: 80%;
        margin: 50px auto;
        padding: 0;
        font-family: 'Jua', sans-serif;
        display: flex;

        .mainProcess-titleBox {
            padding: 0px 10px;
            width: 20%;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            line-height: 60px;

            p {
                font-size: 2.5em;
                color: #ccc;

                strong {
                    color: #111;
                }
            }
        }

        .processBox-container {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin: 0px 10px;
            padding: 0px 5px;

            img {
                width: 40%;
                height: 35%;
            }

            div {
                height: 60px;
            }
        }

    }

    .moreBtn {
        text-align: right;
        margin-right: 100px;
        cursor: pointer;
    }


    .mainMiddleBanner {
        width: 100%;
        height: 100%;
    }

    .mainAnimalInformation {
        padding: 0;
        margin: 0;
        display: flex;

        .mainLeftArea,
        .mainRightArea {
            width: 50%;
            height: 500px;
            background: #CEE8FA;
            position: relative;
        }

        .mainLeftArea {
            cursor: pointer;

            .title {
                position: absolute;
                top: 0;
                right: 50px;
                font-weight: bold;
                font-family: 'Jua', sans-serif;
                font-size: 2.5em;
            }

            .cat {
                position: absolute;
                bottom: 80px;
                z-index: 1;
            }

            .mainLeftBox {
                width: 80%;
                height: 24%;
                padding: 0;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background: rgba($color: #5996BF, $alpha: 0.5);
                position: absolute;
                bottom: 30px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .arrow {
                    margin-right: 20px;
                }
            }
        }

        .mainRightArea {
            background: #CEE8B4;
            cursor: pointer;

            .title {
                position: absolute;
                top: 0;
                left: 70px;
                font-weight: bold;
                font-family: 'Jua', sans-serif;
                font-size: 2.5em;
            }

            .cat {
                position: absolute;
                right: 0;
                bottom: 80px;
                z-index: 1;
            }
        }
    }
}

@keyframes scrollUpDown {
    to {
        bottom: 5%;
    }

    from {
        bottom: 10%;
    }
}

// not found scss
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 800px;

    img {
        width: 100%;
        height: 100%;
    }

    .not-found-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        button {
            background: transparent;
            border: 1px solid black;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media screen and (min-width: 2300px) {
    .main {
        padding: 0;
        margin: 0 auto;
        font-size: 1em;
        width: 80%;

        .mainBannerArea {
            position: relative;

            .mainBanner {
                width: 100%;
                height: 100%;
            }

            .mainBannerText {
                font-family: 'Jua', sans-serif;
                font-size: 3em;
                font-weight: bold;
                color: white;
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translate(0, -50%);
                text-shadow: 5px 5px 5px black;

                span {
                    font-size: 0.8em;
                }
            }

            .mainBannerScroll {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                animation: scrollUpDown infinite 2s;

                p {
                    color: white;
                }
            }
        }

        .mainProcess {
            text-align: center;

            img {
                width: 90%;
                height: 100%;
                margin-top: 50px;
            }
        }



        .mainMiddleBanner {
            width: 100%;
            height: 100%;
        }

        .mainAnimalInformation {
            padding: 0;
            margin: 0;
            display: flex;

            .mainLeftArea,
            .mainRightArea {
                width: 50%;
                height: 500px;
                background: #CEE8FA;
                position: relative;
            }

            .mainLeftArea {
                cursor: pointer;

                .title {
                    position: absolute;
                    top: 0;
                    right: 50px;
                    font-weight: bold;
                    font-family: 'Jua', sans-serif;
                    font-size: 2.5em;
                }

                .cat {
                    position: absolute;
                    bottom: 80px;
                    z-index: 1;
                }

                .mainLeftBox {
                    width: 80%;
                    height: 24%;
                    padding: 0;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background: rgba($color: #5996BF, $alpha: 0.5);
                    position: absolute;
                    bottom: 30px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .arrow {
                        margin-right: 20px;
                    }
                }
            }

            .mainRightArea {
                background: #CEE8B4;
                cursor: pointer;

                .title {
                    position: absolute;
                    top: 0;
                    left: 70px;
                    font-weight: bold;
                    font-family: 'Jua', sans-serif;
                    font-size: 2.5em;
                }

                .cat {
                    position: absolute;
                    right: 0;
                    bottom: 80px;
                    z-index: 1;
                }
            }
        }
    }
}